.logo-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  width: 80px;
}

.logo img {
  display: block;
  width: 100%;
}

.logo-name {
  font-family: "Fascinate", cursive;
  font-size: 20px;
}
