.current-city {
  margin: 0;
  color: #158cba;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
}

.city {
  font-size: 24px;
}

.city:hover {
  cursor: pointer;
  color: #158cba;
  font-weight: bold;
}

.current-day {
  display: flex;
  margin: 15px 0;
  padding: 10px;
}

#today {
  font-weight: bold;
  font-size: 20px;
}

.column {
  width: 45%;
}

.column:first-child {
  display: flex;
  align-items: center;
}

.column:last-child {
  padding-top: 20px;
  padding-left: 15px;
  border-left: 1px solid #158cba;
}

.current-time {
  display: flex;
  font-weight: 700;
  font-size: 20px;
}

.weekday {
  margin-right: 15px;
}

#weather-desc {
  text-transform: capitalize;
}

.humidity {
  margin-bottom: 20px;
}

.precipitation,
.humidity,
.wind {
  font-size: 20px;
  font-weight: bold;
  color: #158cba;
}


.weather-temperature {
    margin-right: 20px;
}